.home-exercise {
    padding: 40px 15px 15px 70px;
    background: url("../../../images/exercise-bg.png") no-repeat right 30px center;
    background-size: contain;

    margin-bottom: 35px;
}
.home-exercise-text {
    width: 40%;
    
}
.home-exercise-list {
    width: 40%;
}