@model LimitsModel
<section class="modal" data-modal="1" id="modalEditLimits" data-background="#modalEditLimits" >
    <div class="modal-content  edit-modal">
        <button class="modal-close" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="21.213" height="21.213" viewbox="0 0 21.213 21.213"><g transform="translate(10.607) rotate(45)"><rect class="a" width="15" height="15"></rect><path class="b" d="M5.909,1.733a1.626,1.626,0,0,1,3.252,0V5.909h4.176a1.626,1.626,0,1,1,0,3.252H9.161v4.176a1.626,1.626,0,1,1-3.252,0V9.161H1.733a1.626,1.626,0,0,1,0-3.252H5.909Z" transform="translate(-0.035 -0.035)"></path></g></svg>
        </button>
        <div id="alerEditDeparmnet"></div>
        <div class="modal-body-choose-category " style="padding: 20px;">
            <p class="row add-services-modal-title"><span>Добавить новый отдел?</span></p>
            <form class="add-services-modal-input-wrapper ">
                <div class="add-services-modal-input-items ">
                    <input class="form-input visually-hidden" id="editId" type="number" />
                    <label class="add-services-modal-label main-label" for="departmentId">Наименование отдела</label>
                    <select class="form-input form-select" id="editDepartmentId">
                        @for (int i = 0; i < Model.Departments.Count; i++)
                        {
                            <option value="@Model.Departments[i].Id"> @Model.Departments[i].Name </option>
                        }
                    </select>
                </div>
                <div class="add-services-modal-input-items ">
                    <label class="add-services-modal-label main-label" for="editlimitValue">Лимит на отдел</label>
                    <input class="form-input" id="editlimitValue" type="number" />

                </div>
                <div class="add-services-modal-input-items ">
                    <label class="add-services-modal-label main-label" for="editDateLimits">Период</label>
                    <input class="form-input" id="editDateLimits" type="date" />

                </div>
                <button class="btn primary-btn" type="button" onclick="addLimit()">Изменить</button>
            </form>

        </div>
    </div>
</section>
<div class="modal-overlay" id="modalEditLimits" ></div>
<script>

    function addLimit() {
        var Id = $('#editId').val();
        var departmentId = $('#editDepartmentId').val();
        var limitValue = $('#editlimitValue').val();
        var date = $('#editDateLimits').val();
        $.ajax({
            url: "@Url.Action("EditLimits")",
            type: 'Post',
            data: {
                'id': Id,
                'date': date,
                'departmentId': departmentId,
                'value': limitValue},
            beforeSend: Loader,
            complete: Loader,
            success: function (data) {
                if (data != null) {
                    if (data != -1) {
                        msg = "Лимит изменен!!";
                        type = "success";
                        searchLimits();
                    }
                    else {
                        msg = "Название отдела, лимит и период не должны быть пустыми";
                        type = data > 1 ? "warning " : "danger";
                    }
                }
                else { msg = "Неизвестная ошибка! Повторите запрос позже!"; type = "danger"; }
                flashMessage('#alerEditDeparmnet', msg, type);
            }
        });
    }
</script>