@model Core.ExpenseType
<section class="modal" data-modal="1" id="modalEditExpensesType" data-background="#modalEditExpensesType">
    <div class="modal-content  edit-modal">
        <button class="modal-close" type="button" onclick="closeModalEdit()">
            <svg xmlns="http://www.w3.org/2000/svg" width="21.213" height="21.213" viewbox="0 0 21.213 21.213"><g transform="translate(10.607) rotate(45)"><rect class="a" width="15" height="15"></rect><path class="b" d="M5.909,1.733a1.626,1.626,0,0,1,3.252,0V5.909h4.176a1.626,1.626,0,1,1,0,3.252H9.161v4.176a1.626,1.626,0,1,1-3.252,0V9.161H1.733a1.626,1.626,0,0,1,0-3.252H5.909Z" transform="translate(-0.035 -0.035)"></path></g></svg>
        </button>
        <div id="alerEditExpensesType"></div>
        <div class="modal-body-choose-category " style="padding: 20px;">
            <p class="row add-services-modal-title h3 justify-content-center"><span>Изменить тип затрат?</span></p>
            <form class="add-services-modal-input-wrapper " id="editExpensesTypeForm">
                <div class="add-services-modal-input-items">
                    <label class="main-label" for="departmentName">Название отдела</label>
                    @await Component.InvokeAsync("Department")
                </div>
                <div class="add-services-modal-input-items">
                    <label class="main-label" for="start-summ">Сумма</label>
                    <input class="form-input" name="start-summ" type="number" id="start-summ" />
                </div>
                <div class="add-services-modal-input-items">
                    <label class="main-label" for="start-limit">Лимит</label>
                    <input class="form-input" name="start-limit" type="number" id="start-limit" />
                </div>
                <div class="add-services-modal-input-items">
                    <label class="main-label" for="start-date">Период</label>
                    <input class="form-input" name="start-date" type="date" id="start-date" />
                </div>
                <div class="d-flex justify-content-between align-baseline mt-3">

                    <button class="btn primary-btn mr-1 flex-grow-1" type="button" onclick="editExpensesType()">Добавить</button>
                    <button class="btn secondary-btn ml-1 flex-grow-1" type="button" onclick="closeModalEdit()">Отменить</button>
                </div>
            </form>

        </div>
    </div>
</section>
<div class="modal-overlay" id="modalEditExpensesType"></div>
<script>
    function editExpensesType() {
          $.ajax({
            url: "@Url.Action("EditExpensesType", "ExpensesTypes")",
            type: 'GET',
              data: $('#editExpensesTypeForm').serialize(),
            beforeSend: Loader,
            complete: Loader,
            success: function (data) {
                    if (data != -1) {
                        msg = " Тип изменен";
                        type = "success";
                    }
                else if (data == -1) {
                        msg = "Название не должно быть пустым";
                        type = data > 1 ? "warning " : "danger";
                    }
                else { msg = "Неизвестная ошибка! Повторите запрос позже!"; type = "danger"; }
                flashMessage('#alerEditExpensesType', msg, type);
                searchExpensesType()
            }
        });
    }
    function closeModalEdit() {
        $('#modalEditExpensesType').data('ModalWindow').close();
        $('#alerEditExpensesType').html('');
    }
</script>