@model List<Departments>;
<select class="form-input form-select" id="departmentName">
    @for (int i = 0; i < Model.Count; i++)
    {
        <option value="@Model[i].Id">@Model[i].Name</option>
    }
    <option value="" selected disabled hidden>Выберите значение</option>
</select>
