//Основные цвета
$black-violet: #020A18;
$dark-violet: #281E47;
$violet: #361E83;
$light-violet: #755BCA;
$white-violet: #BFADF9;
$dark-blue: #12398F;
$blue: #1D54BD;
$light-blue: #5882CA;
$white-blue: #BCCCE8;
$dark-green: #09604A;
$green: #198369;
$light-green: #4ECAAB;
$white-green: #C5F3E7;
$white: #FFFFFF;
$red: #CA4E4E;

//Размер шрифта
$h1-title: 32px;
$h2-title: 28px;
$h3-title: 24px;
$h4-title: 20px;
$text: 16px;

//Скругление рамок
$first-radius: 5px;
$second-radius: 10px;
$third-radius: 20px;
$fourth-radius: 50%;

$primary-font-family: 'Oswald';
$secondary-font-family: 'RobotoCondensed';

$primary-background: $black-violet;
$secondary-shadow-color: rgba($dark-violet,0.2)